@import '../../../../style/utils/utils';

.button {
  font-size: $mob_button;
  color: $grayscale_700;

  padding: 12px 48px;

  background: $grayscale_100;
  border: none;
  border-radius: 25px;

  cursor: pointer;
  outline: none;

  transition: background 0.1s ease-in;

  &:hover {
    background: $grayscale_300;
  }

  &:active {
    background: $grayscale_50;
  }

  &:disabled {
    background: $grayscale_300;
    cursor: not-allowed;
  }

  &.sm {
    padding: 8px 32px;
  }

  &.primary {
    background: $secondary;

    &:hover {
      background: $secondary_d1;
    }

    &:active {
      background: $secondary_l1;
    }
  }

  &.secondary {
    background: $primary;
    color: $grayscale_0;

    &:hover {
      background: $primary_d1;
    }

    &:active {
      background: $primary_l1;
    }

    &.outline {
      background: $grayscale_0;
      color: $primary;
      border: 1px solid $primary;

      &:hover {
        background: $grayscale_50;
        color: $primary_d1;
        border: 1px solid $primary_d1;
      }
    }
  }

  &.link {
    background: transparent;
    color: $info;

    &:hover {
      color: $info_1;
    }

    &:active {
      color: $info_1;
    }

    &:disabled {
      color: $grayscale_300;
    }
  }

}