<app-loadder *ngIf="isLoading"></app-loadder>

<section class="dashboard" *ngIf="!isLoading">
  <app-resume-card
    [resume]="dashboard?.monthResume"></app-resume-card>

  <div class="group md">
    <div class="col-2">
      <app-chart *ngIf="dashboard?.expensesByCategory.length > 0"
        title="Gastos por categoria"
        [data]="dashboard?.expensesByCategory"></app-chart>
    </div>
  
    <div class="col-2">
      <app-chart *ngIf="dashboard?.revenuesByCategory.length > 0"
        title="Receitas por categoria"
        [data]="dashboard?.revenuesByCategory"></app-chart>
    </div>
  </div>
</section>
