.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 16px;
  margin-bottom: 16px;

  border: 1px solid $primary_l1;
  border-left: 8px solid $primary;
  border-radius: 8px;

  background: $grayscale_0;

  color: $primary;

  &.no-border {
    border-left: 1px solid $primary;
  }

  &.column {
    flex-direction: column;
  }

  &.chart {
    justify-content: center;
  }

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    &-title {
      padding: 0;
      margin: 0;

      margin-bottom: 8px;

      font-size: $mob_h2;

      span {
        font-weight: $font-light;
        text-transform: uppercase;
        font-size: $mob_p;
        color: $primary_l1;
      }
    }

    @media #{$medium_and_up} {
      &-title {
        font-size: $dsk_h3;

        span {
          font-size: $dsk_p;
        }
      }
    }

  }
  
  &_content {
    display: flex;
    flex-direction: column;

    width: 100%;

    &-title {
      padding: 0;
      margin: 0;

      margin-bottom: 8px;

      font-size: $mob_h4;

      span {
        font-weight: $font-light;
        text-transform: uppercase;
      }
    }

    &-text {
      color: $primary_l1;
      font-size: $mob_small;
      font-weight: $font_semibold;

      margin-bottom: 8px;

      &.md {
        font-size: $mob_p;
        font-weight: $font-light;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
      &.gray-text {
        color: $grayscale_300;
      }
    }

    &-type {
      font-size: $mob_p;
      text-transform: uppercase;
    }

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
    }

    &_shared {
      margin-top: 16px;
      width: 100%;

      color: $grayscale_300;

      &-with {
        width: 100%;

        span {
          font-size: $mob_label;
        }

        ul {
          list-style: none;
          padding-inline-start: 16px;
          margin-block-start: 16px;
          margin-block-end: 0;

          color: $primary;

          li {
            display: flex;
            justify-content: space-between;

            margin-bottom: 8px;

            &:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    @media #{$medium_and_up} {
      &-title {
        font-size: $dsk_h4;
      }

      &-text {
        font-size: $dsk_small;

        &.md {
          font-size: $dsk_p;
        }
      }

      &-type {
        font-size: $dsk_p;
      }

      &_shared {
        &-with {
          span {
            font-size: $dsk_label;
          }
        }
      }
    }
  }

  &_content_border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-left: 8px solid $primary;
    border-radius: 8px;

    margin-bottom: 8px;

    &-title {
      margin: 8px;
      font-size: $mob_h4;
      font-weight: $font_semibold;
    }

    &:hover {
      background: $grayscale_50;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    @media #{$medium_and_up} {
      &-title {
        font-size: $dsk_h4;
      }
    }
  }

  &_actions {
    position: relative;

    i {
      cursor: pointer;
      font-size: 1.5em;
    }

    &-menu {
      position: absolute;
      top: 0;
      right: 0;

      visibility: hidden;
      opacity: 0;

      display: flex;
      align-items: center;

      margin-right: 24px;

      border: 1px solid $primary_l1;
      border-radius: 4px;

      transition: all 0.2s ease-in;

      &.show {
        visibility: visible;
        opacity: 1;
      }

      i {
        font-size: 1em;
        padding: 4px 8px;
      }
    }
  }
}
