.form {
  position: absolute;

  padding: 24px 0;
  width: 100%;

  left: 50%;
  transform: translateX(-50%);

  &_back {
    display: flex;
    justify-content: flex-end;

    padding: 0 16px;
  }

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 32px;
    padding: 0 16px;

    &-title {
      h2 {
        font-size: $mob_h2;
        font-weight: $font_semibold;
      }
      h3 {
        font-size: $mob_h3;
        font-weight: $font_semibold;
        color: $primary;
      }
      h4 {
        font-size: $mob_label;
        font-weight: $font_light;
      }
    }

    @media #{$medium_and_up} {
      &-title {
        h2 {
          font-size: $dsk_h2;
        }
        h3 {
          font-size: $dsk_h3;
        }
        h4 {
          font-size: $dsk_label;
        }
      }
    }
  }

  &_content {
    margin-top: 24px;
    padding: 0 16px;
  }

  &_section {
    margin-top: 24px;
    padding: 0 16px;

    border-top: 1px solid $grayscale_300;

    &-title {
      font-size: $mob_label;
      font-weight: $font_light;
    }

    &-text {
      width: 100%;

      display: flex;
      justify-content: space-between;

      color: $primary_l1;
      font-size: $mob_p;

      margin-bottom: 12px;

      i {
        cursor: pointer;
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    @media #{$medium_and_up} {
      margin-bottom: 16px;

      &-title {
        font-size: $dsk_label;
      }
      &-text {
        font-size: $dsk_p;
      }
    }
  }

  @media #{$medium_and_up} {
    width: calc(80% - #{$main_md_left});
  }

  @media #{$large_and_up} {
    width: calc(60% - #{$main_md_left});
  }

}