.helper-page {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient($primary_d1, $primary_l1);
  color: $grayscale_0;

  &_header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

    img {
      height: 48px;

      @media #{$medium_and_up} {
        height: 60px;
      }
    }
  }

  &_content {
    position: relative;
    z-index: 2;
    margin: 24px;
    padding: 24px;
    max-width: 100%;

    background: rgba($grayscale_0, 0.1);
    border: 1px solid rgba($grayscale_0, 0.5);
    border-right: 1px solid rgba($grayscale_0, 0.15);
    border-bottom: 1px solid rgba($grayscale_0, 0.15);
    border-radius: 8px;

    box-shadow: 16px 16px 32px rgba($grayscale_1000, 0.25);
    backdrop-filter: blur(8px);

    &-title {
      font-size: $mob_h2;
      color: $grayscale_100;

      @media #{$medium_and_up} {
        font-size: $dsk_h2;
      }
    }

    &-text {
      font-size: $mob_p;

      @media #{$medium_and_up} {
        font-size: $dsk_p;
      }
    }

    @media #{$medium_and_up} {
      max-width: 70%;
    }
    @media #{$large_and_up} {
      max-width: 50%;
    }
  }

}