.input-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  & :nth-child(1) {
    & input {
      margin-right: 4px;
    }
  }

  &.quarter {
    app-input {
      &:nth-child(1) {
        width: 65%;
      }
      &:nth-last-child(1) {
        width: 35%;
      }
    }
  }
 
  app-input {
    width: 50%;    
  }
  
}
