.join {

  display: flex;
  flex-direction: column;
  align-items: center;

  &_presentation {
    position: relative;
    background-image: url('../../assets/img/splash_screen_bg.jpg');
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
      position: absolute;
      width: 80%;
      margin-top: 160px;

      @media #{$medium-and-up} {
        width: 60%;
      }
      @media #{$large-and-up} {
        width: 60%;
        margin-top: 0;
      }
    }

    @media #{$large-and-up} {
      width: 60%;
      justify-content: center;
    }
  }

  &_content {
    position: absolute;
    margin-top: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;

    &-form {
      width: 100%;

      @media #{$medium-and-up} {
        width: 50%;
      }

      @media #{$large-and-up} {
        width: 70%;
      }

      &-advice {
        font-size: $mob_p;
        
        p {
          font-weight: $font_regular;

          a {
            color: $grayscale_700;
            font-weight: $font_bold;
            text-decoration: none;
          }
        }

        &.dark {
          color: $grayscale_0;

          & a {
            color: $grayscale_0;
          }
        }

        @media #{$large-and-up} {
          font-size: $dsk_p;
        }
      }
    }

    @media #{$large-and-up} {
      width: 40%;
      margin-top: 0;

      right: -20%;
      transform: translateX(-50%);
    }
  }

  @media #{$large-and-up} {
    flex-direction: row;
  }
}