@import '../../../../style/utils/utils';

.loadder {
  width: 100%;
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;

  &_bar {
    height: 8px;
    width: 8px;
    background: $primary;
    margin: 0px 4px;
    border-radius: 2px;

    animation: fill-bars 1.5s ease-in infinite;
    animation-delay: calc(0.3s * var(--i));

    @keyframes fill-bars {
      0% { height: 8px; }
      50% { height: 32px; }
      100% { height: 8px; }
    }
  }
}
