// Primary colors

$primary_l2: #CEB8D4;
$primary_l1: #AA6BB2;
$primary   : #81259D;
$primary_d1: #6D2177;
$primary_d2: #4B1752;

// Secondary colors

$secondary_l1: #FFF266;
$secondary   : #FEE901;
$secondary_d1: #D9C701;

// Action colors

$success  : #0BCC56;
$success_1: #1E8C3B;
$warning  : #FFEC71;
$warning_1: #CCBD5A;
$info     : #3B69FF;
$info_1   : #294Ab2;
$danger   : #E1173F; 
$danger_1 : #A6112E;

// Grayscale

$grayscale_0   : #FFFFFF;
$grayscale_50  : #F0F1F5;
$grayscale_100 : #E4E5E9;
$grayscale_300 : #A7A8AC;
$grayscale_500 : #6D6E71;
$grayscale_700 : #47484C;
$grayscale_1000: #000000;
