@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

$font_family: 'Montserrat', sans-serif;

// Font size - mobile

$mob_h1   : 22px;
$mob_h2   : 18px;
$mob_h3   : 16px;
$mob_h4   : 14px;
$mob_h5   : 12px;
$mob_h6   : 10px;

$mob_p    : 14px;
$mob_small: 10px;
$mob_label: 12px;

// Font size - desktop

$dsk_h1   : 36px;
$dsk_h2   : 28px;
$dsk_h3   : 24px;
$dsk_h4   : 18px;
$dsk_h5   : 16px;
$dsk_h6   : 12px;

$dsk_p    : 18px;
$dsk_small: 12px;
$dsk_label: 16px;

// Font weight

$font_light   : 300;
$font_regular : 400;
$font_semibold: 500;
$font_bold    : 600;
