<header class="header" (click)="toggleOpen()">
    <img class="header_logo" src="../../../../assets/img/logo.svg" alt="logo financo">
</header>
<aside class="aside" [ngClass]="{'open': open}">

  <div class="aside_content">

    <img [src]="profile?.thumbnail || userAvatar" 
         alt="foto do usuário" class="aside_content_avatar">

    <div class="aside_content_welcome">
      <span>Olá{{profile?.name ? ', ' + profile?.name : ''}}</span>
      <i class="fas fa-cog"></i>
    </div>

    <app-input label="Seus Boards" [dark]="true">
        <select class="input-control" (change)="changeBoard($event.target.value)">
          <option *ngFor="let board of boards" [value]="board?._id" [selected]="board?._id === activeBoardId">{{ board?.title }}</option>
        </select>
  
        <i class="fas fa-share"></i>
        <i class="fas fa-cog" (click)="toggleOpen()" routerLink="/home/boards"></i>      
    </app-input>

  </div>

  <div class="aside_actions">
    <div id="action-logout" class="aside_actions-item" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Sair</span>
    </div>
  </div>

  <i (click)="toggleOpen()" class="aside_open-icon"></i>
  <i (click)="toggleOpen()" class="fas fa-chevron-right"></i>
</aside>

<div class="overlay" [ngClass]="{'open': open}"></div>