@import '../../../../style/utils/utils';

.header {
  position: fixed;
  z-index: 9997;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $header_height;
  
  background: $primary;
  
  &_logo {
    height: $header_logo_height;
    margin: 0 32px;
  }

  @media #{$medium-and-up} {
    justify-content: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0,  0.25);
  }
}

.aside {
  position: fixed;
  z-index: 9996;
  top: $header_height;

  display: flex;
  justify-content: center;

  width: 100%;
  height: $aside_mob_height;

  background: $primary;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0,  0.25);

  transform: translateY($aside_mob_hiden_height);

  transition: transform 0.2s ease-in-out;

  &_content {
    display: none;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    &_avatar {
      height: 80px;
      width: 80px;
      padding: 2px;

      margin-top: 16px;

      border-radius: 50%;

      background-color: $primary_l2;
      color: $grayscale_300;
    }

    &_welcome {
      margin-top: 16px;
      margin-bottom: 32px;

      font-size: $mob_h2;
      font-weight: $font_semibold;

      color: $grayscale_0;

      span {
        margin-right: 32px;
      }

      i {
        padding: 4px;

        background: rgba($color: $grayscale_0, $alpha: 0.25);
        border-radius: 16px;

        font-size: 16px;
        color: $primary_d2
      }

      @media #{$medium-and-up} {
        font-size: $dsk_h2;
      }
    }

    @media #{$medium-and-up} {
      margin-top: 80px;
    }
  }

  &_actions {
    position: absolute;
    bottom: 40px;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;

    color: $grayscale_0;

    &-item {
      cursor: pointer;
      padding: 8px 16px;
      margin-top: 8px;
      border-radius: 24px;

      transition: all 0.2s ease-in-out;

      i {
        padding: 4px;
        font-size: .8em;
        border-radius: 50%;
        border: 1px solid $grayscale_0;
      }
      span {
        font-size: 1em;
        margin-left: 16px;
      }

      &:hover, &:active {
        color: $grayscale_100;
        background: $primary_d1;
      }
    }

    @media #{$medium-and-up} {
      justify-content: flex-end;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: $aside_show_width;
        padding: 8px 0;
        border-radius: 4px;

        i {
          padding: 6px;
          font-size: 1.1em;
        }
        span {
          margin: 0;
          margin-top: 8px;
          font-size: 0.7em;
        }
      }
    }
  }

  &_open-icon {
    display: block;
    position: absolute;
    height: 4px;
    width: 60px;

    border-radius: 2px;

    background: $grayscale_0;
    bottom: 8px;
  }

  .fas.fa-chevron-right {
    display: none;
    position: absolute;
  }

  &.open {
    transform: translateY(0);

    & .aside_content {
      display: flex;
    }
  }

  @media #{$medium-and-up} {
    width: $aside_md_width;
    height: $aside_md_height;

    border-radius: 0;
    box-shadow: none;

    transform: translateY(0);
    transform: translateX($aside_md_hiden_width);

    &_open-icon {
      display: none;
    }

    .fas.fa-chevron-right {
      display: block;
      top: 0px;
      right: 12px;

      font-size: 32px;
      height: 32px;
      width: 20px;
      padding: 16px;

      color: $grayscale_0;

      transition: transform 0.2s ease-in-out;
    }

    &.open {
      transform: translateX(0);

      .fas.fa-chevron-right {
        transform: rotate(-180deg);
      }

      & .aside_actions {
        &-item {
          width: 100%;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          & span {
            font-size: 1.1em;
            margin-left: 16px;
          }
        }
      }
    }
  }

  @media #{$large-and-up} {
    width: $aside_lg_width;
    transform: translateX($aside_lg_hiden_width);
  }
}

.overlay {
  display: none;

  position: fixed;
  z-index: 9989;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  background: rgba(0, 0, 0,  0.65);

  &.open {
    display: block;

    @media #{$large-and-up} {
      display: none;
    }
  }
}
