@import '../../../../style/utils/utils';

.input {
  display: flex;
  flex-direction: column;

  color: $primary;
  width: 100%;
  margin-bottom: 16px;

  &-label {
    font-size: $mob_label;
    margin-bottom: 8px;

    &_text {
      margin-right: 8px;;
    }

    &_tooltip {
      position: relative;
    
      &::before {
        content: attr(data-text);
        position: absolute;
    
        top: 50%;
        transform:translateY(-50%);
        left: 16px;
        margin-left: 15px;
    
        width: 1000%;
        padding: 16px;
        border-radius: 8px;
        background: $primary;
    
        font-size: $mob_label;
        color: $grayscale_0;
        text-align: center;

        display: none;
      }
    
      &::after {
        content: "";
        position: absolute;
        
        top: 50%;
        transform:translateY(-50%);
        left: 16px;
        margin-left:-5px;
    
        border:12px solid $primary;
        border-color: transparent $primary transparent transparent;
        
        display: none;
      }
    
      &:hover, &.show {
        &::before, &::after {
          display: block;
        }
      }
    }

    @media #{$large-and-up} {
      font-size: $dsk_label;
    }
  }

  & ::ng-deep .input-control {
    padding: 12px;
    font-size: $mob_label;

    border: 1px solid $primary;
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.65);

    @media #{$large-and-up} {
      font-size: $dsk_label;
    }
  }

  &-error {
    display: none;
    font-size: $mob_label;
    margin-bottom: 8px;

    color: $danger;

    @media #{$large-and-up} {
      font-size: $dsk_label;
    }
  }

  &.dark {
    color: $grayscale_0;

    & ::ng-deep .input-control {
      border-color: $primary_d2;
    }

    & .input-error {
      color: $grayscale_0;
    }
  }

  &.error {

    & .input-error {
      display: block;
    }

    & ::ng-deep .input-control {
      border-color: $danger;
    }
  }
}