<div class="input" [ngClass]="{'error': hasError(), 'dark': dark}" [class]="type">

  <div class="input-label">
    <label for="input" class="input-label_text">{{label}}</label>
    <span *ngIf="tooltip" class="input-label_tooltip" [ngClass]="{'show': show}" (click)="showTooltip()"
          [attr.data-text]="tooltip"><i class="fas fa-info-circle"></i></span>
  </div>

  <div class="input_content">
    <ng-content></ng-content>
  </div>

  <span class="input-error">{{getMessage()}}</span>
</div>
