<section class="helper-page">

  <div class="helper-page_header">
    <img src="../../../../../assets/img/logo.svg" alt="logo do financo">
  </div>

  <div class="helper-page_content">

    <h2 class="helper-page_content-title">{{title}}</h2>
    <p *ngIf="text" class="helper-page_content-text">{{text}}</p>

    <form *ngIf="!verifing && !expired" [formGroup]="modelForm">

      <app-input label="Nova Senha" [control]="modelForm.get('password')" [dark]="true"
                 [tooltip]="passwordTooltip">
        <input class="input-control" type="password" id="password" 
               formControlName="password" placeholder="Digite a sua nova senha">
      </app-input>

      <app-input label="Repitir Senha" [control]="modelForm.get('confirmPassword')" [dark]="true">
        <input class="input-control" type="password" id="confirmPassword" 
               formControlName="confirmPassword" placeholder="Repita a sua nova senha">
      </app-input>

      <app-button text="Redefinir senha" 
        (click)="changePassword()" [disabled]="modelForm.invalid || submiting"></app-button>

    </form>

    <app-button *ngIf="!verifing && expired" text="Voltar" (click)="back()"></app-button>

  </div>

</section>
