@import '../../../../style/utils/utils';

.fab-modal {

  display: flex;
  flex-direction: column;
  justify-items: center;

  &-button {
    width: 250px;

    padding: 8px 32px;
    margin: 0 24px 24px 24px;
    
    background: $primary;
    color: $grayscale_0;
    font-size: $mob_p;
    border: none;
    border-radius: 24px;
    
    cursor: pointer;
    outline: none;

    transition: background 0.1s ease-in;

    &:hover {
      background: $primary_d1;
    }

    &.outline {
      background: $grayscale_0;
      color: $primary;

      border: 1px solid $primary;

      &:hover {
        color: $primary_d1;

        border: 1px solid $primary_d1;
      }
    }
  }
}