@import '../../../../style/utils/utils';

.confirm-modal {

  display:flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  text-align: center;
  color: $secondary_d1;

  &_icon {
    i {
      font-size: 3em;
      color: $secondary;
    }
  }
  &_content {
    h2 {
      font-size: $mob_h3;
      margin-bottom: 24px;
    }
    p {
      font-size: $mob_p;
      color: $grayscale_700;
      margin-bottom: 24px;
    }
  }
}