@import '../../../../style/utils/utils';

.main_content {
  position: absolute;
  top: $main_mob_top;

  width: 100%;
  height: 100%;

  @media #{$medium-and-up} {
    top: $main_md_top;
    left: $main_md_left;
  }
}
